<div class="row justify-content-around mt-5">
  <div class="card col-4 mt-5 z-depth-3">

    <form class="text-center p-5" [formGroup]="loginForm">
      <p class="h4 mb-4 logo">Blisskin</p>
      <input type="text" class="form-control mb-4" placeholder="Username" formControlName="username">
      <input type="password" class="form-control mb-4" placeholder="Password" formControlName="password">
      <button class="btn btn-block my-4 my-primary" type="button" (click)="onSignIn()">Sign in</button>

      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="showAlert">
        <button type="button" class="close" aria-label="Close" (click)="showAlert=!showAlert">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{alertMessage}}</strong>
      </div>
    </form>

  </div>
</div>


