<div class="container">
  <div class="panel pricing-table">

    <div class="pricing-plan">
      <img src="https://i.postimg.cc/ncVbrPy5/cream-1.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Diagnose</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Get personalized treatment</li>
      </ul>
      <button class="btn btn-block my-primary" type="button">Temp</button>
    </div>

    <div class="pricing-plan">
      <img src="https://i.postimg.cc/y6gLV4Yn/study.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Reports</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Patient treatment histories</li>
      </ul>
      <button class="btn btn-block my-primary" type="button">Temp</button>
    </div>

    <div class="pricing-plan">
      <img src="https://i.postimg.cc/mrn7qkM4/content-management-system.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Monitor</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Patient skin monitoring</li>
      </ul>
      <button class="btn btn-block my-primary" type="button">Temp</button>
    </div>

  </div>
</div>
