<div class="container">
  <div class="panel pricing-table justify-content-around">

    <div class="pricing-plan">
      <img [src]="'assets/cream-1.png'" alt="" class="pricing-img">
      <h2 class="pricing-header">Treatment</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Get personalized treatment</li>
      </ul>
      <button class="btn btn-block my-primary" type="button" [routerLink]="['/treatment']">Treatments</button>
    </div>

    <div class="pricing-plan">
      <img [src]="'assets/herbal-treatment.png'" alt="" class="pricing-img">
      <h2 class="pricing-header">Ingredients</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Ingredients information</li>
      </ul>
      <button class="btn btn-block my-primary" type="button" [routerLink]="['/ingredients']">Ingredients</button>
    </div>

    <div class="pricing-plan">
      <img [src]="'assets/hospital.png'" alt="" class="pricing-img">
      <h2 class="pricing-header">Report</h2>
      <ul class="pricing-features">
        <li class="pricing-features-item">Patient treatment histories</li>
      </ul>
      <button class="btn btn-block my-primary" type="button" [routerLink]="['/reports']">Reports</button>
    </div>
  </div>
</div>



