<div class="row">
  <div class="text-center p-5 col-6">
    <p class="h4 mb-4 logo">New patient information</p>
    <div class="form-row mb-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <input type="number" class="form-control mb-4" placeholder="Age">

    <div class="form-row mb-5">
      <div class="col">
        <input type="text" class="form-control" placeholder="New patient username">
      </div>
      <div class="col">
        <input type="password" class="form-control" placeholder="New patient password">
      </div>
    </div>
    <hr>
    <p class="h4 mb-4 mt-5 logo">Existing patient</p>
    <input type="text" class="form-control mb-4" placeholder="Existing patient username">
  </div>

  <div class="text-center p-5 col-6">
    <p class="h4 mb-4 logo">Environmental impacts</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="humiditySelect">Humidity</label>
      </div>
      <select class="custom-select" id="humiditySelect">
        <option value="1">Low</option>
        <option value="2" selected>Normal</option>
        <option value="3">High</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="sunExposureSelect">Sun exposure</label>
      </div>
      <select class="custom-select" id="sunExposureSelect">
        <option value="1">Low</option>
        <option value="2" selected>Normal</option>
        <option value="3">High</option>
      </select>
    </div>
  </div>

  <!-- TODO dodati previous ingredient reactions -->

</div>
