<div class="row">
  <div class="text-center p-5 col-6">
    <form [formGroup]="newPatientForm">
      <p class="h4 mb-4 logo">New patient information</p>
      <div class="form-row mb-4">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
        </div>
      </div>
      <input type="number" class="form-control mb-4" placeholder="Age" formControlName="age">

      <div class="form-row mb-4">
        <div class="col">
          <input type="text" class="form-control" placeholder="New patient username" formControlName="username">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="New patient password" formControlName="password">
        </div>
      </div>
      <button class="btn btn-block btn-outline-info mb-4" type="button"
                             (click)="onSubmitPatient()">
      Submit patient
    </button>
    </form>
    <hr>

    <p class="h4 mb-4 mt-4 logo">Existing patient</p>
    <form [formGroup]="existingPatientForm">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Existing patient username" aria-describedby="basic-addon2"
               formControlName="username">
        <div class="input-group-append">
          <button class="input-group-text" id="basic-addon2" style="color: rebeccapurple;" (click)="onFindExistingUser()"
                  type="button">
            Find
          </button>
        </div>
      </div>
    </form>


    <!-- TODO Dodati lep prikaz informacija o pacijentu -->
    <ul class="list-group text-justify mt-4" *ngIf="patient !== null">
      <li class="list-group-item"><b>First name:</b> {{patient.firstName}}</li>
      <li class="list-group-item"><b>Last name:</b> {{patient.lastName}}</li>
      <li class="list-group-item"><b>Username:</b> {{patient.username}}</li>
    </ul>

  </div>

  <!-- ToDo prebaciti u drugu komponentu -->
  <div class="text-center p-5 col-6">
    <form [formGroup]="otherUserInfo" (change)="onOtherInfoChanged()">
      <p class="h4 mb-4 logo">Environmental impacts</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="humiditySelect">Humidity</label>
        </div>
        <select class="custom-select" id="humiditySelect" formControlName="humidity">
          <option value="0">Low</option>
          <option value="1" selected>Normal</option>
          <option value="2">High</option>
        </select>
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="sunExposureSelect">Sun exposure</label>
        </div>
        <select class="custom-select" id="sunExposureSelect" formControlName="sunExposure">
          <option value="0">Low</option>
          <option value="1" selected>Normal</option>
          <option value="2">High</option>
        </select>
      </div>
    </form>

<!--    <div class="text-center" style="border: 1px solid lightgray; border-radius: 5px">-->
<!--      <p class="h4 mb-4 pt-3 logo">Previous ingredient reactions</p>-->
<!--      <div class="list-group">-->
<!--        <div class="inputGroup" *ngFor="let ingredient of ingredients">-->
<!--          <input [id]="ingredient.name" [name]="ingredient.name" type="checkbox" [value]="ingredient"/>-->
<!--          &lt;!&ndash;                   (change)="$event.target.checked? selectedSkinIssues.push(skinIssue) : selectedSkinIssues.splice(selectedSkinIssues.indexOf(skinIssue))"/&ndash;&gt;-->

<!--          <label [for]="ingredient.name">{{ingredient.name}}</label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>

</div>
